body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #f4f4f9, #e1eec3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#loginStatus {
    display: flex;
    align-items: center;
    font-weight: 600;
    color: #ffffff;
    margin-right: 20px;
}

#logoutButton {
    display: inline-block;
    background-color: #ee6c4d;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#logoutButton:hover {
    background-color: #d05336;
    transform: scale(1.05);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 80px;
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    animation: fadeIn 1s ease-out;
}

.container {
    width: 400px;
    max-width: 90%;
    position: relative;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #005f73;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #005f73;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

.form-group input:focus {
    border-color: #0a9396;
}

.password-wrapper {
    position: relative;
}

.password-wrapper img {
    position: absolute;
    right: 1px;
    top: 73%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 24px;
    height: 24px;
}

button {
    width: 100%;
    background-color: #005f73;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #0a9396;
    transform: scale(1.05);
}

#loginMessage {
    text-align: center;
    margin-top: 10px;
    color: red;
}

.forgot-password-btn {
    width: 100%;
    background-color: transparent;
    border: none;
    color: #0a9396;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s;
}

.forgot-password-btn:hover {
    color: #005f73;
    background-color: rgba(0, 95, 115, 0.1);
    border-radius: 5px;
}

.password-group {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 1px;
    top: 71%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
    height: 20px;
}

/* Custom Checkbox */
.custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.custom-checkbox .checkbox-span {
    width: 20px;
    height: 20px;
    top: 5px;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 3px;
    margin-right: 2px;
    position: relative;
    transition: background-color 0.3s, border-color 0.3s;
}

.custom-checkbox input[type="checkbox"] {
    display: none;
}

.custom-checkbox input[type="checkbox"]:checked + .checkbox-span::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    background-color: #005f73;
    border-radius: 3px;
    transform: translate(-50%, -50%) scale(0);
    animation: checkboxChecked 0.3s forwards;
}

@keyframes checkboxChecked {
    to {
        transform: translate(-50%, -50%) scale(1);
    }
}

/* Modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.icon {
    font-size: 48px;
    color: #0a9396;
    text-align: center;
    margin-bottom: 20px;
}
